<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <!-- <app-flight-filter [filter]="filter" (search)="search()"></app-flight-filter> -->

    <form #searchForm="ngForm">
      <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" name="from" class="form-control" required minlength="3" city>
      </div>

      <div
        *ngIf="searchForm?.controls?.['from']?.invalid"
        class="alert alert-danger">
        From control is invalid.
      </div>
      <div
        *ngIf="searchForm?.controls?.['from']?.hasError('required')"
        class="alert alert-danger">
        Please enter a value, this control is mandatory!
      </div>
      <div
        *ngIf="searchForm?.controls?.['from']?.hasError('minlength')"
        class="alert alert-danger">
        Please enter at least {{ searchForm?.controls?.['from']?.errors?.['minlength'].requiredLength }} chars.
      </div>
      <div
        *ngIf="searchForm?.controls?.['from']?.hasError('city')"
        class="alert alert-danger">
        Please enter a valid city. ({{ searchForm?.controls?.['from']?.errors?.['city'].validCities.join(', ') }})
      </div>

      <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to" name="to" class="form-control" required minlength="3">
      </div>

      <div
        *ngIf="searchForm?.controls?.['to']?.invalid"
        class="alert alert-danger">
        From control is invalid.
      </div>
      <div
        *ngIf="searchForm?.controls?.['to']?.hasError('required')"
        class="alert alert-danger">
        Please enter a value, this control is mandatory!
      </div>
      <div
        *ngIf="searchForm?.controls?.['to']?.hasError('minlength')"
        class="alert alert-danger">
        Please enter at least {{ searchForm?.controls?.['to']?.errors?.['minlength'].requiredLength }} chars.
      </div>

      <div class="form-group">
        <button class="btn btn-default" (click)="search()" [disabled]="!searchForm.valid">Search</button>
      </div>
    </form>
  </div>
</div>

<!-- <div class="card">
  <div class="header">
    <h4 class="title">Direct DOM Access</h4>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>Message:</label>
        <input id="message" name="message" class="form-control">
      </div>
    </form>
  </div>
</div> -->

<div class="row">
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
    *ngFor="let flight of flights">

    <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]">
      <!-- (selectedChange)="basket[flight.id] = $event"> -->

      <span>My custom content!</span><br>
      <span myCustomTitle class="custom-title">My custom title!</span>
    </app-flight-card>

  </div>
</div>

<div class="card">
  <div class="content">
      <pre>{{ basket | json }}</pre>
  </div>
</div>
